{% extends "core/base.html" %}
{% block title %}Попытка: {{ attempt.attempt_time }}{% endblock %}

{% block content %}
<h5><strong>Время попытки:</strong></h5>
<p> {{ attempt.attempt_time }} </p>

<h5><strong>Тема:</strong></h5>
<p>{{ attempt.newsletter.message.subject }}</p>

<h5><strong>Ответ сервера:</strong></h5>
<p>{{ attempt.smtp_answer }}</p>

<hr>

<a href="{% url 'core:attempt_update' attempt.pk %}" class="btn btn-primary">
    Редактировать
</a>

<a href="{% url 'core:attempt_confirm_delete' attempt.pk %}" class="btn btn-danger">
    Удалить
</a>

<a href="{% url 'core:attempt_list' %}" class="btn btn-secondary">
    Назад к списку
</a>
{% endblock %}
