{% extends "core/base.html" %}

{% block title %}Попытка: {{ attempt.attempt_time }}{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header">Детали попытки</div>
    <div class="card-body">
        <p><strong>Время попытки:</strong> {{ attempt.attempt_time }}</p>
        <p><strong>Тема:</strong> {{ attempt.newsletter.message.subject }}</p>
        <p><strong>Ответ сервера:</strong> {{ attempt.smtp_answer }}</p>
        <a href="{% url 'core:attempt_list' %}" class="btn btn-secondary">Назад к списку</a>
    </div>
</div>
{% endblock %}
