{% extends "core/base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Добро пожаловать!</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    Общая информация
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <a href="{% url 'core:newsletter_list' %}"
                                   class="d-block info-table-link">
                                    <strong>Всего рассылок:</strong> {{ total_newsletters }}
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <a href="{% url 'core:active_newsletter_list' %}"
                                   class="d-block info-table-link">
                                    <strong>Активных рассылок:</strong> {{ active_newsletters }}
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <a href="{% url 'core:recipient_list' %}"
                                   class="d-block info-table-link">
                                    <strong>Уникальных получателей:</strong> {{ unique_recipients }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                        <td colspan="2">
                            <a href="{% url 'core:success_attempt_list' %}"
                                   class="d-block info-table-link">
                            <strong>Успешных попыток отправки:</strong> {{ success_send_attempt_count }}
                        </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a href="{% url 'core:fail_attempt_list' %}"
                                   class="d-block info-table-link">
                                <strong>Неудачных попыток отправки:</strong> {{ fail_send_attempt_count }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    Сообщения
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for message in all_messages %}
                        <li class="list-group-item">
                            <a href="{% url 'core:message_detail' message.pk %}" class="text-decoration-none">
                                <strong>ID:</strong> {{ message.id }} - {{ message.subject }}
                            </a>
                        </li>
                        {% empty %}
                        <li class="list-group-item">Нет сообщений</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
