{% extends "core/base.html" %}
{% block title %}Домашняя страница{% endblock %}

{% block content %}
<h1><strong>SpamSender</strong></h1>

<div class="links">
    <a href="{% url 'core:newsletter_list' %}">
        Всего рассылок {{ total_newsletters }}
    </a>

    <a href="{% url 'core:active_newsletter_list' %}">
        Активных рассылок {{ active_newsletters }}
    </a>

    <a href="{% url 'core:recipient_list' %}">
        Уникальных получателей {{ unique_recipients }}
    </a>

    <a href="{% url 'core:message_list' %}">
        Отправленных сообщений {{ success_send_attempt_count }}
    </a>

    <a href="#">
        Недоставленных сообщений {{ fail_send_attempt_count }}
    </a>
</div>

{% endblock %}
{% block extra_css%}
<style>
    div.links > a {
        text-decoration: none !important;
        color: black !important;
        font-size: 20px;
        text-align: left;
        display: block !important;
        margin-top: 1rem;
    }
    div.links > a:hover {
     text-decoration: underline !important;
    }
</style>
{% endblock %}