{% extends "core/base.html" %}

{% block title %}Успешные попытки{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Успешные попытки рассылок</h2>
    <ul class="list-group">
        {% for attempt in attempts %}
        <li class="list-group-item">
            <strong>ID:</strong> {{ attempt.id }} |
            <strong>Рассылка:</strong> {{ attempt.mailing }} |
            <strong>Время:</strong> {{ attempt.attempt_time }}
        </li>
        {% empty %}
        <li class="list-group-item">Нет успешных попыток</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
