{% extends "core/base.html" %}

{% block title %}Список рассылок{% endblock %}

{% block content %}
<h1>Список рассылок</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Статус</th>
        <th>Начало рассылки</th>
        <th>Окончание рассылки</th>
        <th>Тема рассылки</th>
        <th>Получатели</th>
        <th>  </th>
    </tr>
    </thead>
    <tbody>
    {% for newsletter in newsletters %}
    <tr>
        <td>
            <a
                    href="{% url 'core:newsletter_detail' newsletter.pk %}">
            {{ newsletter.id }}
            </a>
        </td>
        <td>{{ newsletter.status }}</td>
        <td>{{ newsletter.start_time|date:"d/m/Y H:i" }}</td>
        <td>{{ newsletter.last_send_time|date:"d/m/Y H:i" }}</td>
        <td>{{ newsletter.message.subject }}</td>

        <td>
            {% for r in newsletter.recipients.all %}
            {{ r.email }}{% if not forloop.last %}, {% endif %}
            {% empty %}
            —
            {% endfor %}
        </td>

        <td>
            <a href="{% url 'core:newsletter_detail' newsletter.pk %}" class="btn btn-sm btn-primary">Подробнее</a>
            <a href="{% url 'core:newsletter_update' newsletter.pk %}" class="btn btn-sm btn-primary">Редактировать</a>
            <a href="{% url 'core:newsletter_create' %}" class="btn btn-sm btn-success mt-2">Создать новую рассылку</a>
            <a href="{% url 'core:newsletter_delete' newsletter.pk %}" class="btn btn-sm btn-danger mt-2">Удалить</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6" class="text-center">Нет рассылок</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'core:home' %}" class="btn btn-secondary mt-3">На главную</a>

{% endblock %}
