{% extends 'core/base.html' %}

{% block title %}Список сообщений{% endblock %}

{% block content %}
<h1>Список сообщений</h1>

{% if messages %}
  {% for msg in messages %}
    <div class="alert alert-{{ msg.tags }}">{{ msg }}</div>
  {% endfor %}
{% endif %}

{% if message_list %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Тема</th>
            <th>Автор</th>
            <th><a href="{% url 'core:message_create' %}" class="btn btn-sm btn-success mb-1">Создать сообщение</a></th>
        </tr>
    </thead>
    <tbody>
        {% for message in message_list %}
        <tr>
            <td>{{ message.id }}</td>
            <td>{{ message.subject }}</td>
            <td>{{ message.owner.email}}</td>
            <td>
                <a href="{% url 'core:message_detail' message.id %}" class="btn btn-sm btn-primary mb-1">Подробнее</a>
                <a href="{% url 'core:message_update' message.id %}" class="btn btn-sm btn-primary mb-1">Редактировать</a>
                <a href="{% url 'core:message_delete' message.id %}" class="btn btn-sm btn-danger mb-1">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Нет сообщений</p>
{% endif %}
<a href="{% url 'core:home' %}" class="btn btn-secondary">На главную</a>
{% endblock %}
