{% extends "core/base.html" %}

{% block title %}Список получателей{% endblock %}

{% block content %}
<h1>Список получателей</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ФИО</th>
        <th>email</th>
        <th>Комментарий</th>
        <th><a href="{% url 'core:home' %}" class="btn btn-sm btn-secondary mt-3">На главную</a>
            <a href="{% url 'core:recipient_create' %}" class="btn btn-sm btn-success mt-3">Добавить нового получателя</a></th>
    </tr>
    </thead>
    <tbody>
    {% for recipient in recipients %}
    <tr>
        <td>
            <a href="{% url 'core:recipient_detail' recipient.pk %}">{{ recipient.name }}</a>
        </td>
        <td>{{ recipient.email }}</td>
        <td>{{ recipient.comment|truncatechars:50 }}</td>
        <td>
            <a href="{% url 'core:recipient_detail' recipient.id %}" class="btn btn-sm btn-primary">Подробнее</a>
            <a href="{% url 'core:recipient_update' recipient.pk %}" class="btn btn-sm btn-primary">Редактировать</a>
            <a href="{% url 'core:recipient_delete' recipient.pk %}" class="btn btn-sm btn-danger">Удалить</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Нет получателей</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

