{% extends "core/base.html" %}
{% block title %}Получатель: {{ recipient.name }}{% endblock %}

{% block content %}
<h1>{{ recipient.name }}</h1>

<p><strong>Имя получателя:</strong></p>
<p>{{ recipient.name }}</p>

<p><strong>email:</strong> {{ recipient.email }}</p>
<p><strong>Комментарий:</strong> {{ recipient.comment }}</p>

<hr>
{% if request.user == recipient.owner or request.user.is_staff %}
<a href="{% url 'core:recipient_update' recipient.pk %}" class="btn btn-primary">
    Редактировать
</a>

<a href="{% url 'core:recipient_delete' recipient.pk %}" class="btn btn-danger">
    Удалить
</a>
{% endif %}
<a href="{% url 'core:recipient_list' %}" class="btn btn-secondary">
    Назад к списку
</a>
{% endblock %}
